<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <nav class="nav">
      <div class="nav-title">
        <a href="./" class="nav-title__image"><img src="../images/logo/logo.png" alt="Company Logo" /></a>
        <button class="nav-title__toggle">☰</button>
      </div>
      <ul class="nav-item">
        <li><a href="./">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.instagram.com/johanrza/">About Us</a></li>
      </ul>
    </nav>
    <div class="hero-image">
      <div class="hero-text">
        <h1>Experience The Ultimate Indulgence.</h1>
        <p>Unleash your senses.</p>
      </div>
    </div>

    <main id="maincontent">
      <section class="explore-restaurant">
        <h2 class="restaurant-header">Explore Restaurant</h2>
        <div class="restaurants"></div>
      </section>
    </main>
    <footer>
      <p>Copyright &#169; 2023 - Wareg</p>
    </footer>
  </body>
</html>
