<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <nav>
      <div class="nav-brand">
        <a href="./"><h1>Hunger Apps</h1></a>
      </div>
      <div class="nav-restaurant">
        <a id="restaurant" class="restaurant">☰</a>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
    </nav>
    <div class="hero-image">
      <div class="hero-text">
        <h2>Experience The Ultimate Indulgence.</h2>
        <p>Unleash your senses.</p>
      </div>
    </div>

    <main>
      <section class="explore-restaurant">
        <h2 class="restaurant-header">Explore Restaurant</h2>
        <div class="restaurants">
          <article class="restaurant-item">
            <p class="restaurant-item__city">Kota. Bandung</p>
            <img class="restaurant-item__image" src="https://restaurant-api.dicoding.dev/images/medium/41" />
            <div class="restaurant-item__content">
              <p class="restaurant-item__rating">Rating: 4.5</p>
              <h1 class="restaurant-item__title"><a href="#">Lorem ipsum dolor</a></h1>
              <p class="restaurant-item__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet est quidem eligendi fugit maxime id odio obcaecati adipisci, qui deleniti ipsum incidunt? Eos saepe sit velit. Consequatur iusto laboriosam quia.</p>
            </div>
          </article>
          <article class="restaurant-item">
            <p class="restaurant-item__city">Kota. Bandung</p>
            <img class="restaurant-item__image" src="https://restaurant-api.dicoding.dev/images/medium/41" />
            <div class="restaurant-item__content">
              <p class="restaurant-item__rating">Rating: 4.5</p>
              <h1 class="restaurant-item__title"><a href="#">Lorem ipsum dolor</a></h1>
              <p class="restaurant-item__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet est quidem eligendi fugit maxime id odio obcaecati adipisci, qui deleniti ipsum incidunt? Eos saepe sit velit. Consequatur iusto laboriosam quia.</p>
            </div>
          </article>
          <article class="restaurant-item">
            <p class="restaurant-item__city">Kota. Bandung</p>
            <img class="restaurant-item__image" src="https://restaurant-api.dicoding.dev/images/medium/41" />
            <div class="restaurant-item__content">
              <p class="restaurant-item__rating">Rating: 4.5</p>
              <h1 class="restaurant-item__title"><a href="#">Lorem ipsum dolor</a></h1>
              <p class="restaurant-item__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet est quidem eligendi fugit maxime id odio obcaecati adipisci, qui deleniti ipsum incidunt? Eos saepe sit velit. Consequatur iusto laboriosam quia.</p>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright &#169; 2023 - Hunger Apps</p>
    </footer>
  </body>
</html>
